* {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
}

a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.coll-notif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  
  & .notif {
    width: 100%;
    padding: 0.5rem;
    background-color: #f6f4d2;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    text-align: center;
  }
}


.buttonn {
  background-color: #f6f4d2;
  width: 80%;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* topnav start */
.topnav {
  overflow: hidden;
  background-color: #cbdfbd;
  z-index: 10;
  
  top: 0;
  width: 100%;
  height: 80px !important;
}

.topnav a .leftnav {
  margin-left: 2%;
}

.topnav a .leftnav .logo1 {
  width: 100px;
  float: left;
}

.topnav a .leftnav .logo1 img {

  width: 90px;
  border-radius: 30px;
}

.topnav a .leftnav .logo2 img {
  margin-top: 15px;
  width: 140px;
  border-radius: 30px;
}

.topnav .rightnav a {
  float: left;
  text-decoration: none;
}
.topnav .rightnav .sidebar .sidebar2 ul li i a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

}

.topnav .rightnav a:hover {
  background-color: #f6f4d2;
  color: black;
}

.topnav .rightnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}


/* topnav end */
/* ==================================== */
/* head start */

.containerHead {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerHead .leftHead {
  margin-left: 10rem;
  margin-top: 100px;
  width: 50%;
  font-size: 1rem;
}

.containerHead .leftHead .title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin-top: 5%;
  height: 3em;
}

.containerHead .leftHead .subtitle {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
}

.containerHead .leftHead .title div{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.containerHead .leftHead .title div:first-of-type{
  animation: appear 6s infinite;
}
.containerHead .leftHead .title div:last-of-type{
  animation: reveal 6s infinite;
}

@keyframes appear{
  0%{opacity: 0;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes slide{
  0%{margin-left:-800px;}
  20%{margin-left:-800px;}
  35%{margin-left:0px;}
100%{margin-left:0px;}
}
@keyframes reveal{
  0%{opacity: 0; width: 0px;}
  20%{opacity: 1; width: 0px;}
  30%{width: 655px;}
  80%{opacity: 1;}
  100%{opacity: 0; width: 655px;}
}


/* head end */
/* ==================================== */
/* carousel start */

.carousel {
  position: relative;
  box-shadow: 5px 4px 6px rgba(203, 223, 189, 5.64);
  margin-top: 100px;
  margin-bottom: 130px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
  
  .carousel-inner {
    border-radius: 20px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel-open:checked + a .carousel-item {
    position: static;
    opacity: 100;
  }
  
  a .carousel-item {
    object-fit: cover;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

a .carousel-item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 1;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9,
#carousel-10:checked ~ .control-10,
#carousel-11:checked ~ .control-11,
#carousel-12:checked ~ .control-12 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
    z-index: -1;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet,
#carousel-11:checked ~ .control-11 ~ .carousel-indicators li:nth-child(11) .carousel-bullet,
#carousel-12:checked ~ .control-12 ~ .carousel-indicators li:nth-child(12) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.newsId .containerNews a {
  margin-bottom: 100px;
  margin-right: 100px;
}

.containerMenu button {
  width: 10%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.active, .collapsible:hover {
  background-color: #f6f4d2;
}

.content-news-profile, .content-news-ajax {
  padding: 0 1rem;
  overflow: hidden;
  background-color: #f1f1f1;

  & section {
    & .container {
      display: grid;
      place-items: center;
      gap: 1rem;

      & .row {
        & .container-card {
          & .card {
            width: 30vw;
            height: 50vh;
            border-radius: 20px;
            overflow: hidden;
            margin: 0.8rem 0 1.6rem 0;
            padding: 0.8rem;
            background-color: #fff;
            word-break: break-all;

            & img {
              width: 40%;
              height: 40%;
              margin-right: 0.8rem;
              padding: 1rem;
            }

            & .card-body {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              
              & h3 {
                font-size: 1.3rem;
                font-weight: 750;
                margin: 0.8rem 0;
              }

          

              & .isi {
                word-break: break-all;
                padding: 1rem;
              }
            }

          }
        }
      }
    }
  }
}














